<div>
  <p>
    Schwierigkeit:
    <md-slider (change)="changeDifficulty()" [(ngModel)]="difficulty" min="2" max="{{maxLevel}}" step="2"></md-slider>
  </p>
  <div class="timeAndMoves">
    <p>
      Zeit:
      <span id="timer">{{ time | exacttime:success }}</span>
    </p>
    <p class="spacer"></p>
    <p>
      Züge:
      {{ moves }}
    </p>
  </div>
</div>

<md-grid-list cols="4" rowHeight="1:1">
  <md-grid-tile *ngFor="let card of deck | shuffle">
    <button @cards class="card {{card.status}}" (click)="flipCard(card)">
      <span class="front">{{card.motive}}</span>
      <span class="back">❓</span>
    </button>
  </md-grid-tile>
</md-grid-list>

