.spacer {
  flex: 1 1 auto;
}

.profilePicture {
  width: 30px;
  border-radius: 50%;
  vertical-align: middle;
}

footer {
  margin-top: 1em;
  border-top: 1px solid #AAA;
}

.game-area {
  display: flex;

  flex-direction: row;

  > * {
    flex: 1 1;
    padding: 1em;
  }

  @media screen and (max-width: 800px) {
    display: block;
    padding: 0 1em;
  }
}

footer {
  img {
    height: 1.2em;
    vertical-align: middle;
  }
}