<md-dialog-content class="mat-typography">
  <h2 md-dialog-title *ngIf="!data?.moves">Anmelden</h2>
  <h2 md-dialog-title *ngIf="data?.moves">Glückwunsch!</h2>

  <p *ngIf="data?.moves">
    Du hast das Memory in {{ data.exacttime }} Sekunden und {{ data.moves }} Zügen gelöst!
  </p>

  <p *ngIf="data?.moves">
    Trage dich in die Bestenliste ein!
  </p>
</md-dialog-content>

<md-dialog-actions *ngIf="user">
  <button md-raised-button color="primary" (click)="addToLeaderboard(data)" md-dialog-close>In Bestenliste eintragen</button>
</md-dialog-actions>

<md-dialog-actions *ngIf="!user">
  <button md-raised-button color="primary" class="facebook" (click)="loginWithFacebook(data)" md-dialog-close>
    <img src="../assets/facebook-logo.svg" alt="Facebook">
    Mit Facebook anmelden
  </button>

  <button md-raised-button color="primary" class="google" (click)="loginWithGoogle(data)" md-dialog-close>
    <img src="../assets/google-logo.svg" alt="Google">
    Mit Google anmelden
  </button>
</md-dialog-actions>